/* global variables */
:root {
    --btnColor: #3b0777;
    --txtColor: #ffffff;
    --btnHover: rgb(155, 88, 209);
    --feedbackColor: lightgrey;
}

/* header */
header ul {
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header ul li {
    display: inline;
}

main {
    margin: 5rem auto;
    text-align: center;
}

main p {
    font-size: 20px;
}

/* button */
.btn {
    padding: 10px;
    font-size: 20px;
    background-color: var(--btnColor);
    color: var(--txtColor);
    text-align: center;
    border-radius: 8px;
    flex-direction: column; 
}

/* button:hover */
.btn:hover {
    background-color: var(--btnHover);
}


/* timer class */

/* h1 */
    /* question text (main text) */

/* feedback (right or wrong) class */
.feedback {
    font-style: italic;
    border-top: 2px;
    padding-top: 5px;
    margin-top: 5px;
    color: var(--feedbackColor);
    border-color: var(--feedbackColor);
    text-align: center;
}