/* global variables */
:root {
    --btnColor: #3b0777;
    --txtColor: #ffffff;
    --btnHover: rgb(155, 88, 209);
    --feedbackColor: grey;
    --listColor: rgb(174, 146, 211);
}

/* header */
header ul {
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header ul li {
    display: inline;
}

#main-content {
    margin: 5rem 15%;
    text-align: left;
}

main li {
    background: var(--listColor);
}

p, label {
    font-size: 20px;
}

input {
    margin: 10px;
}

#btn-div {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
}

/* button */
.q-btn {
    padding: 10px;
    font-size: 20px;
    min-width: 13rem;
    background-color: var(--btnColor);
    color: var(--txtColor);
    text-align: center;
    border-radius: 8px;
    margin: 10px;
}

.btn {
    padding: 10px;
    font-size: 20px;
    background-color:
    var(--btnColor);
    color: var(--txtColor);
    text-align: center;
    border-radius: 8px;
    margin-top: 7px;
    max-height: 45px;
}

/* button:hover */
.btn:hover {
    background-color: var(--btnHover);
}

/* timer class */

.initial-content {
    text-align: center;
}

/* feedback (right or wrong) class */
#feedback {
    font-style: italic;
    width: 70%;
    border-top: 2px solid;
    padding-top: 5px;
    margin: 5px auto;
    color: var(--feedbackColor);
    border-color: var(--feedbackColor);
    text-align: left;
    font-size: 25px;
}

.form {
    display: flex;
}

.odd {
    background-color: var(--listColor);
}

.even {
    background-color: var(--btnHover);
}

.score-list {
    margin: 0 10rem;
}

.score {
    padding: 10px 10px;
    font-size: 20px;
}

.score:last-child {
    margin-bottom: 1rem;
}